* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#topHeader {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

h1 {
    font-size: 5rem;
}

time {
    font-size: 2rem;
}

#todayDate{
    margin-right: .5rem;
}

#currTime {
    margin-left: .5rem;
}

#weatherIcon {
    width: 50%;
}

figure {
    margin: 0;
}

#figureCaption {
    margin-top: -3rem;
    font-size: 2rem;
}

#maxMinTemp {
    font-size: 1.5rem;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;
}

#flexContainer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    padding: 3rem;
}

li {
    flex-basis: 30%;
    text-align: center;
    margin: 1rem;
}

.capitalize {
    text-transform: capitalize;
}

#temperature {
    font-size: 60px;
}

#formWrapper {
    width: 30%;
    margin-top: 3rem;
}

#formBtn {
    font-size: 18px;
}

#footNote {
    text-align: center;
    margin-top: 5rem;
}

@media (max-width: 968px) {
    #flexContainer {
        flex-direction: column;
    }
    #weatherIcon {
        margin-bottom: 2rem;
        width: 80%;
    }

    h1 {
        margin-top: 3rem;
    }
}