*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/seaside.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}

#main-container {
  max-width: 90%;
  margin: 5rem auto;
}

#topHeader {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  margin: 1rem auto;
  backdrop-filter: blur(3px);
}

.container-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom-style: groove;
  border-bottom-color: rgb(157, 157, 157);
  border-bottom-width: 2px;
}

.capitalize {
  text-transform: capitalize;
}

figcaption {
  font-size: 1.2rem;
}

#temperature {
  display: block;
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem;
}

#maxMinTemp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
}

#form-container,
.container {
  max-width: 100%;
  margin: 1rem auto;
}

footer {
    text-align: center;
    margin-top: 5rem;
}

@media (min-width: 720px) {
  #main-container {
    max-width: 80%;
  }
}

@media (min-width: 1024px) {
  #main-container {
    max-width: 60%;
  }
}
